@tailwind base;
@tailwind components;
@tailwind utilities;

/* .active{
    @apply font-medium tracking-wide text-cyan-950 transition-colors duration-200
  }
  
  .default{
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-cyan-600
  } */
  .navbar {
    background: #f1f1f1;
    padding: 10px;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    margin-right: 20px;
  }
  
  .navbar-toggle {
    display: none;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #f1f1f1;
      padding: 10px;
    }
  
    .navbar-menu.open {
      display: flex;
    }
  
    .navbar-menu li {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
  